@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Idroid";
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor01: #C5EBD6;
    --cor02: #83E1AD;
    --cor03: #3DDC84;
    --cor04: #2FA866;
    --cor05: #063D1E;

    --fonted: 'Bebas Neue', Helvitica;
    --fontei: 'Idroid', Helvitica;
    --fontep: Arial, Helvitica;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    padding: 35px;
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02), var(--cor03), var(--cor04), var(--cor05) )
}

header > h1 {
    font-size: 3em;
    text-align: center;
    font-family: var(--fonted);
    color: white;
    text-shadow: 3px 3px black;
}

header > p {
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: var(--fontep);
    text-shadow: 2px 2px black;
}

header > nav {
    text-align: center;
    padding: 15px;
}

header >  nav > a {
    font-family: var(--fontep);
    font-size: 1.4em;
    color: var(--cor03);
    padding: 4px;
    text-decoration: none;

}

header > nav > a:hover {
    color: var(--cor05);
    background-color: var(--cor03);
    border-radius: 5px;
}

main {
    max-width: 800px;
    max-height: 800px;
}

main > section#conteudo h1,h2 {
    font-family: var(--fontei);
    padding: 10px;
}

main > section#conteudo h1 {
    color: var(--cor05);
}

main > section#conteudo h2 {
    margin: 20px;
    color: var(--cor03);
    background-image: linear-gradient(to right, var(--cor02), var(--cor01));
    padding: 2px;
}

main > section#conteudo p {
    font-family: var(--fontep);
    text-indent: 40px;
    padding: 2px;
    margin: auto;
}

main > section#conteudo > strong {
    color: var(--cor03);
    
}