* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #1F2024, #4B4952);
}

main {
    background-color: darkgray;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}

h1 {
    color: #79717A;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #004F4D;
}

p {
    text-align: justify;
}