@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor01: #011142;
    --cor02: #01258F;
    --cor03: #023BE6;

    --font01: "Open Sans", sans-serif;
    --font02: "Inter", Arial;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor03);
}

header {
    background-image: linear-gradient(to bottom, var(--cor01 ), var(--cor02), var(--cor03) );
    padding: 20px;
    font-family: var(--font01);
    text-align: center;
}

header > h1 {
    font-size: 2.8em;
    color: white;
    text-shadow: 10px 10px var(--cor01);
}

header > nav {
    font-size: 1.5em;
}

header > nav > a {
    color: white;
    text-decoration: overline;
    padding: 20px;
}

header > nav > a:hover {
    color: white;
    background-color: var(--cor01);
    padding: 20px;
    border-radius: 10px;
}

main > section {
    margin: 0 auto;
    width: 900px;
    height: 700px;
    background-color: white;
    box-shadow: 10px 10px black;
    border-radius: 20px;
}

section > article > h2 {
    text-align: center;
    font-family: var(--font01);
    font-size: 2em;
    color: var(--cor02);
    text-shadow: 10px 10px var(--cor01);
}

section > article > p {
    text-align: center;
    font-size: 1.5em;
    text-indent: 30px;
    font-family: var(--font02);
}