@charset "UTF-8"; /* SEMPRE POR PADRAO */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4581D6, #45D6CF);
}

main {
    background-color: #ffff;
    box-shadow: 5px 5px 15px #06095f;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}


h1 {
    text-align: center;
    color: #0059FF;
    text-shadow: 1px 1px 1px #0009FF;
}


h2 {
    color: #0009FF;
}


p {
    text-align: justify;
}